<nav class="navbar">
    <div class="navbar-content">
      <a class="logo">Sistema de Gestão de Compras</a>
      
      <div class="nav-buttons">
        <button class="nav-button active" routerLink="/requests">
          Pedidos
        </button>
        <button class="nav-button" routerLink="/quotations">
          Cotações
        </button>
        <button class="nav-button" routerLink="/suppliers">
          Fornecedores
        </button>
        <button class="nav-button" routerLink="/items">
          Itens
        </button>
        <button class="nav-button" routerLink="/profile">
          Perfil
        </button>
        <button class="nav-button" (click)="logout()">
          Sair
        </button>
      </div>
    </div>
  </nav>